<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Dailymail word of the day</title>
  </head>

  <body id="body d-flex justify-content-center">
    <%- include('partials/menu', { active: 'home' }) %>


      <div class="container">

        <h1>Word of the day is</h1>
        <h3>
          <%= JSON.stringify(rankings[0].keyword.matches[0]) %> with <%= rankings[0].articles.length %> articles
        </h3>

        <p>Followed by:</p>
        <% for(i=1; i < rankings.length; i +=1) {%>

          <p>
            <%= JSON.stringify(rankings[i].keyword.matches[0]) %> with <%= rankings[i].articles.length %>
                articles
          </p>
          <%} %>
      </div>
  </body>

</html>