<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Dailymail word of the day</title>
  </head>

  <body id="body d-flex justify-content-center">
    <%- include('partials/menu', { active: 'home' }) %>


      <div class="container">

        <div class="card-copy">
          <h3 class="header">Word of the day, <%= state.helpers.formatSyncDate(state.metadata.createdAt) %>
          </h3>

          <hr class="short" />

          <div class="word-of-the-day text-center">
            <%= state.helpers.getTodaysWord(state) %>
          </div>

          <hr class="mt-4 mb-4" />

          <div class="container defn-text mb-5">
            <h4 class="header text-left">Definition</h4>
            <%- state.helpers.getTodaysWordDescription(state) %>
          </div>

          <p class="subtitle text-center text-muted mt-2">
            Today, the dailymail thought this warranted <%= state.helpers.getTodaysWordArticleCount(state)%>
              articles, such as
          </p>

          <p>
            <%= JSON.stringify(state.rankings)%>
          </p>
          <table>
            <% for(i=1; i < state.rankings.length; i +=1) {%>
              <tr>Row</tr>
              <% } %>

          </table>


          <p>Followed by: <%= state.rankings.length %>
          </p>
          <% for(i=1; i < state.rankings.length; i +=1) {%>

            <p>
              <%= JSON.stringify(state.rankings[i].keyword.matches[0]) %> with <%= state.rankings[i].articles.length %>
                  articles
            </p>
            <%} %>
        </div>
      </div>
  </body>

</html>
