<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Dailymail word of the day</title>
  </head>

  <body id="body d-flex justify-content-center">
    <%- include('partials/menu', { active: 'home' }) %>


      <div class="container">

        <div class="card-copy">
          <h3 class="header">Word of the day, <%= state.helpers.formatSyncDate(state) %>
          </h3>

          <hr class="short" />

            <% if(!state.helpers.hasRankings(state)) {%>
              <p class="text-center mt-4"> No word of the day yet, check back later! </p>
            <% } else {%>

                  <div class="word-of-the-day text-center">
                    <%= state.helpers.getTodaysWord(state) %>
                  </div>

                  <hr class="mt-4 mb-4" />

                  <div class="container defn-text mb-5">
                    <h4 class="header text-left">Definition</h4>
                    <%- state.helpers.getTodaysWordDescription(state) %>
                  </div>

                  <hr class="mt-4 mb-4" />

                  <div class="container">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="subtitle text-center text-muted mt-2">
                          Today, this warranted <%= state.helpers.getTodaysWordArticleCount(state)%>
                            articles, such as:
                        </p>

                        <div class="container">
                          <% 
                            const articles = state.helpers.getDisplayArticles(state);
                            for(let i = 0; i < articles.length; i += 1) {%>
                            <div class="row d-flex align-items-center m-4">
                              <div class="col-md-8"><p><%= articles[i].headline%></p></div>
                              <div class="col-md-4"><img class=" home-article-image p-2" src="<%= articles[i].image%>"></img></div>
                            </div>
                            
                            
                          <%}%>
                        </div>
                      </div>
                      <div class="col-md-4">
                        
                        <p class="subtitle text-center text-muted mt-2">
                          And the runners up:
                          <ol>
                          <% 
                            const runnersUp = state.helpers.getTodaysWordRunnersUp(state)
                            for(let i = 0; i < runnersUp.length; i += 1) {
                          %>
                                <li class="text-left"><i><%= runnersUp[i].title%></i> with <%= runnersUp[i].articleCount %> articles</li>
                          <% } %>
                        </ol>
                        </p>

                      </div>
                </div>
                </div>
          <% } %>
        </div>
      </div>
  </body>

</html>
